.exampletext {
    width: 100%;
    height: 100%;
}

.examplerender {
    object-fit: contain;
}

@font-face {
    font-family: 'NotoSansSymbols';
    src: url('../asset/ttf/NotoSansSymbols-Light.ttf');
}
