.app {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.copyright {
    padding-top: 20px;
}

.preview {
    padding-top: 20px;
    padding-bottom: 20px;
}

select {
    width: 50%;
}

input {
    width: 50%;
}

.action {
    text-align: right;
}

.action-button {
    padding-right: 50px;
}

.exampletext {
    width: 100%;
    height: 100%;
}

.examplerender {
    object-fit: contain;
}

@font-face {
    font-family: 'NotoSansSymbols';
    src: url('../asset/ttf/NotoSansSymbols-Light.ttf');
}
